* {
    margin: 0;
}

.all {
    width: 90%;
    margin: 2% 5%;
    background-color: #1f1f1f;
    color: #e0dcdc;
    display: flex;
    padding-bottom: 5%;
    padding-top: 5%;
}

/* Left */
.left {
    width: 35%;
    margin-left: 5%;
}

button {
    width: 190px;
    height: 50px;
    background-color: #8697cb;
    border: 0;
    color: #cccaca;
    font-size: 30px;
}

/* Right */
.right {
    width: 55%;
    margin-left: 5%;
    display: flex;
}

hr {
    width: 50%;
    height: 0;
}

.item {
    width: 30%;

}

p {
    margin-top: 8%;
}